.dialog-wrapper {
    display: none !important;
}

.wrap,
#main {
    height: 100vh;
    margin: 0 !important;
}

iframe {
    display: none;
}


html,
body {
    height: 100%;
}

.page-preview {
    border-radius: 0;
    height: 100%;
}

.page-preview-header {
    background: #f2f2f2;
    border: none;
    height: 70px;
    position: relative;
    text-align: center;
}

.page-preview-header > a {
    display: inline-block;
    margin-top: 15px;
    padding: 4px;
}

.page-preview-header > a:hover {
    background: #e2f0fc;
    text-decoration: none;
}

.page-preview-header > a.active {
    background: #c9e4f9;
}

.page-preview-header > .close {
    float: right;
    margin-right: 10px;
}

.page-preview-body {
    height: calc(100% - 70px);
    overflow: hidden;
    text-align: center;
}

.page-preview-body iframe {
    border: none;
    display: inline-block;
    height: 100%;
}


.doctors{
    width: 33.33%;
   
}
.doc{
    margin: auto;
    width: 124px;
    text-align: center;
}
.patients{
    width: 33.33%;
}
.Hospitals{
    width: 33.33%;
}
.pat{
    margin: auto;
    width: 124px;
    text-align: center;
}
.hos{
    margin: auto;
    width: 86px;
    text-align: center;
}
.quantity{
    font-family: 'Font Awesome 5 Free';
    font-size: 20px;
    color: #2080c5;
    /* background-color: #98c2e1; */
    padding: 11px;
}
.aboutuscontent{
    width: 90%;
    margin: auto;
    display: flex;
   
    height: 500px;
}
.leftarea{
width: 50%;
height: 500px;
}
.rightarea{
margin: auto;
text-align: justify;
width: 39%;
}
.aboutus_para{
    font-size: 16px;
  
}