@import url("https://cdn.syncfusion.com/ej2/material.css");

.btnadding{
    background-color: #2080c5;
    padding: 10px;
    width: 200px;
    height: 60px;
    font-size: large;
    
}
.btnadding:hover{
    background-color: rgb(22, 22, 22);
}
.editbtn{
    background-color: #2080c5;
    margin: auto;
}
.editbtn:hover{
    background-color: rgb(22, 22, 22);
}
.topics{
    color: #2080c5;
   
}