.registrationarea{
   
    margin: auto;
    padding-left: 60px;
    margin-bottom: 20px;
   width: 80%;
    box-shadow: rgb(0 0 0 / 16%) 0px 10px 36px 0px, rgb(0 0 0 / 6%) 0px 0px 0px 1px;
}
.raw{
    display: flex;
}
.left{
    width: 50%;
}
.right{
    width: 50%;
}